.carousel-image {
    height: 400px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    width: 100%!important; /* Makes the image full width */
}
